astroid==2.4.1
click==7.1.2
colorama==0.4.3
Flask==1.1.2
Flask-Debug==0.4.3
Flask-MySQLdb==0.2.0
Flask-WTF==0.14.3
Frozen-Flask==0.15
inflection==0.5.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mysqlclient==1.4.6
passlib==1.7.2
pylint==2.5.2
six==1.14.0
toml==0.10.1
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.1
WTForms-ParsleyJS==2.0.1
